@page "/citylake"

<div class="container">
    <div class="row justify-content-md-left shadow p-3 mb-5 bg-white rounded" style="min-width: 100%;">

        <div class="col-md">
            <img src=".\Images\lake.jpg" style="max-width: 600px;" />
        </div>

        <div class="col-md" style="min-width: 200px; margin-top: 20px;">
            <p style="font-size: 22px;">
                The Town of Fairfax lake is open to the public! Below you can find more details on our recreational permits for fishing, hunting, etc.!
                If you have any questions feel free to contact City Hall or navigate to the City Hall tab to the left for our contact information.
            </p>
        </div>


    </div>

</div>

<h2>Lake Pass Information:</h2>

<div class="table-responsive" style="margin-left: 5%; margin-right: 5%;">
    <table class="table" style="display: block; height: 250px; overflow: auto;">
        <thead>
            <tr style="position: sticky; top: 0; background-color: lightslategray;">
                <th scope="col">Residential / Visitor</th>
                <th scope="col">Type of Pass</th>
                <th scope="col">Pass Name</th>
                <th scope="col">Price ($)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Residential</th>
                <td>Seasonal</td>
                <td>Boat</td>
                <td>$20.00</td>
            </tr>
            <tr>
                <th scope="row">Residential</th>
                <td>Daily</td>
                <td>Boat</td>
                <td>$5.00</td>
            </tr>
            <tr>
                <th scope="row">Residential</th>
                <td>Monthly</td>
                <td>Boat</td>
                <td>$8.00</td>
            </tr>
            <tr>
                <th scope="row">Residential</th>
                <td>Seasonal</td>
                <td>Family Fish</td>
                <td>$15.00 (pass holder, spouse and children under 16)</td>
            </tr>
            <tr>
                <th scope="row">Residential</th>
                <td>Daily & Monthly</td>
                <td>Family Fish</td>
                <td>$3.00 (pass holder, spouse and children under 16)</td>
            </tr>
            <tr>
                <th scope="row">Residential</th>
                <td>Seasonal</td>
                <td>Combination</td>
                <td>$25.00</td>
            </tr>
            <tr>
                <th scope="row">Residential</th>
                <td>Daily</td>
                <td>Combination</td>
                <td>$6.00</td>
            </tr>
            <tr>
                <th scope="row">Residential</th>
                <td>Monthly</td>
                <td>Combination</td>
                <td>Not Available</td>
            </tr>
            <tr>
                <th scope="row">Residential</th>
                <td>Seasonal</td>
                <td>Jet Ski</td>
                <td>$25.00</td>
            </tr>
            <tr>
                <th scope="row">Residential</th>
                <td>Daily</td>
                <td>Jet Ski</td>
                <td>$5.00</td>
            </tr>
            <tr>
                <th scope="row">Residential</th>
                <td>Monthly</td>
                <td>Jet Ski</td>
                <td>$8.00</td>
            </tr>
            <tr>
                <th scope="row">Residential</th>
                <td>Seasonal</td>
                <td>Jet Ski & Boat</td>
                <td>$30.00</td>
            </tr>
            <tr>
                <th scope="row">Residential</th>
                <td>Seasonal</td>
                <td>Hunting - Ducks Only</td>
                <td>$20.00</td>
            </tr>
            <tr>
                <th scope="row">Residential</th>
                <td>Daily</td>
                <td>Hunting - Ducks Only</td>
                <td>$1.00</td>
            </tr>
            <tr>
                <th scope="row">Residential</th>
                <td>Daily</td>
                <td>Camping</td>
                <td>$15.00</td>
            </tr>

            <tr>
                <th scope="row">Non-Residential</th>
                <td>Seasonal</td>
                <td>Boat</td>
                <td>$30.00</td>
            </tr>
            <tr>
                <th scope="row">Non-Residential</th>
                <td>Daily</td>
                <td>Boat</td>
                <td>$5.00</td>
            </tr>
            <tr>
                <th scope="row">Non-Residential</th>
                <td>Monthly</td>
                <td>Boat</td>
                <td>$10.00</td>
            </tr>
            <tr>
                <th scope="row">Non-Residential</th>
                <td>Seasonal</td>
                <td>Family Fish</td>
                <td>$25.00 (pass holder, spouse and children under 16)</td>
            </tr>
            <tr>
                <th scope="row">Non-Residential</th>
                <td>Daily</td>
                <td>Family Fish</td>
                <td>$3.00 (pass holder, spouse and children under 16)</td>
            </tr>
            <tr>
                <th scope="row">Non-Residential</th>
                <td>Monthly</td>
                <td>Family Fish</td>
                <td>$5.00 (pass holder, spouse and children under 16)</td>
            </tr>
            <tr>
                <th scope="row">Non-Residential</th>
                <td>Seasonal</td>
                <td>Combination</td>
                <td>$42.00</td>
            </tr>
            <tr>
                <th scope="row">Non-Residential</th>
                <td>Daily</td>
                <td>Combination</td>
                <td>$6.00</td>
            </tr>
            <tr>
                <th scope="row">Non-Residential</th>
                <td>Monthly</td>
                <td>Combination</td>
                <td>Not Available</td>
            </tr>
            <tr>
                <th scope="row">Non-Residential</th>
                <td>Seasonal</td>
                <td>Jet Ski</td>
                <td>$25.00</td>
            </tr>
            <tr>
                <th scope="row">Non-Residential</th>
                <td>Daily</td>
                <td>Jet Ski</td>
                <td>$5.00</td>
            </tr>
            <tr>
                <th scope="row">Non-Residential</th>
                <td>Monthly</td>
                <td>Jet Ski</td>
                <td>$10.00</td>
            </tr>
            <tr>
                <th scope="row">Non-Residential</th>
                <td>Seasonal</td>
                <td>Jet Ski & Boat</td>
                <td>$35.00</td>
            </tr>
            <tr>
                <th scope="row">Non-Residential</th>
                <td>Seasonal</td>
                <td>Hunting - Ducks Only</td>
                <td>$40.00</td>
            </tr>
            <tr>
                <th scope="row">Non-Residential</th>
                <td>Daily</td>
                <td>Hunting - Ducks Only</td>
                <td>$2.00</td>
            </tr>
            <tr>
                <th scope="row">Non-Residential</th>
                <td>Daily</td>
                <td>Camping</td>
                <td>$15.00</td>
            </tr>
        </tbody>
    </table>
</div>

<h2 style="font-style: italic; text-decoration: underline;">If town hall is closed permits can be purchased at the police station.</h2>




@code {

}