@page "/cityhall"

<AuthorizeView Roles="Admin, TownClerk, Superadmin">

</AuthorizeView>

<div class="container">

    <h2>City Hall - Contact Us</h2>
    <br/>

    <div class="table" style="border-collapse: separate; border-spacing: 1em;">
            <div class="card" style="width: 18rem; float: left; margin-right: 20px;">
                <img src=".\Images\library.jpg" class="card-img-top" alt="..." style="max-height: 140px; height: 140px;" />
                <div class="card-body">
                    <h5 class="card-title">Town Clerk</h5>
                    <p class="card-text"><strong>Name:</strong> Samantha Beach</p>
                    <p class="card-text"><strong>Email:</strong> test-email@email.com</p>
                    <p class="card-text"><strong>Office Phone:</strong> 918-642-XXXX</p>
                </div>
            </div>
                
        <div class="card" style="width: 18rem; float: left; margin-right: 20px;">
            <img src=".\Images\library.jpg" class="card-img-top" alt="..." style="max-height: 140px; height: 140px;" />
            <div class="card-body">
                <h5 class="card-title">Town Trustee / Mayor</h5>
                <p class="card-text"><strong>Name:</strong> Lonna Hoskinson</p>
                <p class="card-text"><strong>Email:</strong> test-email@email.com</p>
                <p class="card-text"><strong>Office Phone:</strong> 918-642-XXXX</p>
            </div>
        </div>

        <div class="card" style="width: 18rem; float: left; margin-right: 20px;">
            <img src=".\Images\library.jpg" class="card-img-top" alt="..." style="max-height: 140px; height: 140px;" />
            <div class="card-body">
                <h5 class="card-title">Town Trustee</h5>
                <p class="card-text"><strong>Name:</strong> Boa Cox</p>
                <p class="card-text"><strong>Email:</strong> test-email@email.com</p>
                <p class="card-text"><strong>Office Phone:</strong> 918-642-XXXX</p>
            </div>
        </div>

        <div class="card" style="width: 18rem; float: left; margin-right: 20px;">
            <img src=".\Images\library.jpg" class="card-img-top" alt="..." style="max-height: 140px; height: 140px;" />
            <div class="card-body">
                <h5 class="card-title">Town Trustee</h5>
                <p class="card-text"><strong>Name:</strong> Billy Robertson</p>
                <p class="card-text"><strong>Email:</strong> test-email@email.com</p>
                <p class="card-text"><strong>Office Phone:</strong> 918-642-XXXX</p>
            </div>
        </div>

        <div class="card" style="width: 18rem; float: left; margin-right: 20px;">
            <img src=".\Images\library.jpg" class="card-img-top" alt="..." style="max-height: 140px; height: 140px;" />
            <div class="card-body">
                <h5 class="card-title">Town Trustee</h5>
                <p class="card-text"><strong>Name:</strong> Gabe Graham</p>
                <p class="card-text"><strong>Email:</strong> test-email@email.com</p>
                <p class="card-text"><strong>Office Phone:</strong> 918-642-XXXX</p>
            </div>
        </div>

        <div class="card" style="width: 18rem; float: left; margin-right: 20px;">
            <img src=".\Images\library.jpg" class="card-img-top" alt="..." style="max-height: 140px; height: 140px;" />
            <div class="card-body">
                <h5 class="card-title">Town Trustee</h5>
                <p class="card-text"><strong>Name:</strong> Lacy Jones</p>
                <p class="card-text"><strong>Email:</strong> test-email@email.com</p>
                <p class="card-text"><strong>Office Phone:</strong> 918-642-XXXX</p>
            </div>
        </div>

    </div>

   
</div>

@code {

}
