@page "/cityhall"


<h2 style="width: 100%; text-align: center;">City Hall - Contact Us</h2>
<br />
<p style="width: 100%; text-align: center; font-size: 20px; font-weight: 600;">Fairfax, Oklahoma town hours are Monday-Friday 7:30A.M. to 4:00P.M.</p>
<br />

<div class="container" style="width: 100%;">

    <h2 style="width: 100%; text-align: center; align-items: center;">Upcoming Meetings:</h2>
    <div class="row justify-content-center" style="margin: 0 auto; padding-bottom: 40px;">
        <table class="col-8 text-center">
            <thead>
                <tr>
                    <th style="width: 33%">
                        Date
                    </th>
                    <th style="width: 33%">
                        Time
                    </th>
                    <th style="width: 33%">
                        Location
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>January 2nd, 2024</td>
                    <td>6:00p.m.</td>
                    <td>Fairfax City Hall, 2nd floor</td>
                </tr>
                <tr>
                    <td>February 5th, 2024</td>
                    <td>6:00p.m.</td>
                    <td>Fairfax City Hall, 2nd floor</td>
                </tr>
                <tr>
                    <td>March 4th, 2024</td>
                    <td>6:00p.m.</td>
                    <td>Fairfax City Hall, 2nd floor</td>
                </tr>
                <tr>
                    <td>April 1, 2024</td>
                    <td>6:00p.m.</td>
                    <td>Fairfax City Hall, 2nd floor</td>
                </tr>
                <tr>
                    <td>May 6, 2024</td>
                    <td>6:00p.m.</td>
                    <td>Fairfax City Hall, 2nd floor</td>
                </tr>
                <tr>
                    <td>June 3, 2024</td>
                    <td>6:00p.m.</td>
                    <td>Fairfax City Hall, 2nd floor</td>
                </tr>
                <tr>
                    <td>July 1, 2024</td>
                    <td>6:00p.m.</td>
                    <td>Fairfax City Hall, 2nd floor</td>
                </tr>
                <tr>
                    <td>August 5th, 2024</td>
                    <td>6:00p.m.</td>
                    <td>Fairfax City Hall, 2nd floor</td>
                </tr>
                <tr>
                    <td>September 3rd, 2024</td>
                    <td>6:00p.m.</td>
                    <td>Fairfax City Hall, 2nd floor</td>
                </tr>
                <tr>
                    <td>October 7th, 2024</td>
                    <td>6:00p.m.</td>
                    <td>Fairfax City Hall, 2nd floor</td>
                </tr>
                <tr>
                    <td>November 4th, 2024</td>
                    <td>6:00p.m.</td>
                    <td>Fairfax City Hall, 2nd floor</td>
                </tr>
                <tr>
                    <td>December 2nd, 2024</td>
                    <td>6:00p.m.</td>
                    <td>Fairfax City Hall, 2nd floor</td>
                </tr>
            </tbody>
        </table>
    </div>




    <div class="row" style="text-align: center;">

        <div class="col-sm">
            <h2 class="card-img-top" alt="..." style="max-height: 140px; height: 140px; text-align: center; line-height: 140px; font-weight: 800;">S.B</h2>
            <div class="card-body">
                <h5 class="card-title">Town Clerk</h5>
                <p class="card-text"><strong>Name:</strong> Samantha Beach</p>
                <p class="card-text"><strong>Email:</strong> townoffairfax@@windstream.net</p>
                <p class="card-text"><strong>Office Phone:</strong> 918-642-5211</p>
            </div>
        </div>


        <div class="col-sm">
            <h2 class="card-img-top" alt="..." style="max-height: 140px; height: 140px; text-align: center; line-height: 140px; font-weight: 800;">L.H</h2>
            <div class="card-body">
                <h5 class="card-title">Mayor</h5>
                <p class="card-text"><strong>Name:</strong> Lonna Hoskinson</p>
                <p class="card-text"><strong>Department:</strong> Cemetery and Streets</p>
                <p class="card-text"><strong>Office Phone:</strong> 918-642-5211</p>
            </div>
        </div>


        <div class="col-sm">
            <h2 class="card-img-top" alt="..." style="max-height: 140px; height: 140px; text-align: center; line-height: 140px; font-weight: 800;">L.J</h2>
            <div class="card-body">
                <h5 class="card-title">Vice Mayor</h5>
                <p class="card-text"><strong>Name:</strong> Lacey Jones</p>
                <p class="card-text"><strong>Department:</strong> Trash, Parks, Pool</p>
                <p class="card-text"><strong>Office Phone:</strong> 918-642-5211</p>
            </div>
        </div>

    </div>

    <div class="row" style="text-align: center;">
        <div class="col-sm">
            <h2 class="card-img-top" alt="..." style="max-height: 140px; height: 140px; text-align: center; line-height: 140px; font-weight: 800;">B.R</h2>
            <div class="card-body">
                <h5 class="card-title">Board Member</h5>
                <p class="card-text"><strong>Name:</strong> Billy Robertson</p>
                <p class="card-text"><strong>Department:</strong> Fire</p>
                <p class="card-text"><strong>Office Phone:</strong> 918-642-5211</p>
            </div>
        </div>
        <div class="col-sm">
            <h2 class="card-img-top" alt="..." style="max-height: 140px; height: 140px; text-align: center; line-height: 140px; font-weight: 800;">G.G</h2>
            <div class="card-body">
                <h5 class="card-title">Board Member</h5>
                <p class="card-text"><strong>Name:</strong> Gabe Graham</p>
                <p class="card-text"><strong>Department: </strong> Police, Animal Control</p>
                <p class="card-text"><strong>Office Phone:</strong> 918-642-5211</p>
            </div>
        </div>

        <div class="col-sm">
            <h2 class="card-img-top" alt="..." style="max-height: 140px; height: 140px; text-align: center; line-height: 140px; font-weight: 800;">B.C</h2>
            <div class="card-body">
                <h5 class="card-title">Board Member</h5>
                <p class="card-text"><strong>Name:</strong> Boa Cox</p>
                <p class="card-text"><strong>Department: </strong> Public Works</p>
                <p class="card-text"><strong>Office Phone:</strong> 918-642-5211</p>
            </div>
        </div>
    </div>
    
 


</div>
