@page "/citylake"

<div class="container">
    <div class="row justify-content-md-left shadow p-3 mb-5 bg-white rounded" style="min-width: 100%;">

        <div class="col-md">
            <img src=".\Images\lake.jpg" style="max-width: 600px;" />
        </div>

        <div class="col-md" style="min-width: 200px; margin-top: 20px;">
            <p style="font-size: 22px;">
                The Town of Fairfax lake is open to the public! Below you can find more details on our recreational permits for fishing, hunting, etc.!
                If you have any questions feel free to contact City Hall or navigate to the City Hall tab to the left for our contact information.
            </p>
        </div>


    </div>

</div>


<table class="table" style="font-size: 20px;">
    <thead>
        <tr>
            <th scope="col">Residential / Visitor</th>
            <th scope="col">Type of Pass</th>
            <th scope="col">Pass Name</th>
            <th scope="col">Price ($)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Residential</th>
            <td>Seasonal</td>
            <td>Boat</td>
            <td>$20.00</td>
        </tr>
        <tr>
            <th scope="row">Residential</th>
            <td>Seasonal</td>
            <td>Family Fish</td>
            <td>$15.00 (pass holder, spuse and children under 16)</td>
        </tr>
        <tr>
            <th scope="row">Residential</th>
            <td>Seasonal</td>
            <td>Combination</td>
            <td>$25.00</td>
        </tr>
        <tr>
            <th scope="row">Residential</th>
            <td>Seasonal</td>
            <td>Jet Ski</td>
            <td>$25.00</td>
        </tr>
        <tr>
            <th scope="row">Residential</th>
            <td>Seasonal</td>
            <td>Hunting - Ducks Only</td>
            <td>$20.00</td>
        </tr>
    </tbody>
</table>


@code {

}
