@page "/animalcontrol"


<div class="container">
    <div class="row justify-content-md-left shadow p-3 mb-5 bg-white rounded" style="min-width: 100%;">

        <div class="col-md">
            <h2 style="width: 350px; line-height: 200px; text-align: center;">D.F</h2>
        </div>

        <div class="col-md" style="min-width: 200px; margin-top: 20px;">
            <p style="font-size: 22px;">
                The Town of Fairfax's current Animal Control Officer is Doug Foster. Please refer to the table below for our available animal tags, animal returns, and fees! Contact Animal Control at 918-642-3611.
            </p>
        </div>


    </div>

</div>


<table class="table" style="text-align: center; font-size: 20px;">
    <thead>
        <tr>
            <th scope="col">Type</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Tag</th>
            <td>Dog tag</td>
            <td>$5.00/each (2 free animal home returns)</td>
           
        </tr>
        <tr>
            <th scope="row">Fee</th>
            <td>Impound</td>
            <td>$25.00/each (Increases $5.00 each day until animal is picked up)</td>
            
        </tr>
    </tbody>
</table>



@code {

}
