@inject NavigationManager _navManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Town of Fairfax</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        
        <Town_of_Fairfax.Components.NewBulletin/>

        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/logout" Match="NavLinkMatch.All">
                        <span class="oi oi-account-logout" aria-hidden="true"></span> Signout
                    </NavLink>
                </div>
            </Authorized>
            
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/login" Match="NavLinkMatch.All">
                        <span class="oi oi-account-login" aria-hidden="true"></span> Sign-in
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/billpay" Match="NavLinkMatch.All">
                <span class="oi oi-dollar" aria-hidden="true"></span> Pay a bill
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/cityhall" Match="NavLinkMatch.All">
                <span class="oi oi-briefcase" aria-hidden="true"></span> City Hall
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/publiclibrary" Match="NavLinkMatch.All">
                <span class="oi oi-book" aria-hidden="true"></span> Public Library
            </NavLink>
        </div>

    </nav>
</div>

@code {


    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
