@page "/billpay"

<div class="container">
    <div class="col-sm">
        <p>Welcome to Online Bill Pay! You may currently pay your bills online by visiting <a href="www.govcard.org/fairfax" target="_blank" class="btn btn-primary">this link.</a></p>
    </div>
</div>

@code {

}
